config PANDORA_COMPONENT_BINARY_SENSOR
	bool

config PANDORA_COMPONENT_BINARY_SENSOR_GPIO
	bool "GPIO binary sensor"
	select PANDORA_COMPONENT_BINARY_SENSOR
	depends on DT_HAS_PANDORA_BINARY_SENSOR_GPIO_ENABLED
	default y
