config ESPHOME_COMPONENT_LOGGER
    bool "ESPHome logger component"
    default y
    depends on DT_HAS_NABUCASA_ESPHOME_LOGGER_ENABLED

config ESPHOME_COMPONENT_API
	bool "ESPHome API"
	default y
	depends on DT_HAS_NABUCASA_ESPHOME_API_ENABLED

if ESPHOME_COMPONENT_API
config ESPHOME_COMPONENT_SWITCH
	bool "ESPHome switch support"
	depends on PANDORA_COMPONENT_SWITCH
	default y
endif

config ESPHOME_COMPONENT_SENSOR
	bool

config ESPHOME_COMPONENT_SENSOR_TEMPERATURE
	bool "Enable support of temperature sensors"
	default y
	depends on DT_HAS_NABUCASA_ESPHOME_SENSOR_TEMPERATURE_ENABLED
    select ESPHOME_COMPONENT_SENSOR

config ESPHOME_COMPONENT_SENSOR_HUMIDITY
	bool "Enable support of humidity sensors"
	default y
	depends on DT_HAS_NABUCASA_ESPHOME_SENSOR_HUMIDITY_ENABLED
    select ESPHOME_COMPONENT_SENSOR

config ESPHOME_COMPONENT_SENSOR_TIMESTAMP
	bool "Enable support of timestamp sensors"
	default y
	depends on DT_HAS_NABUCASA_ESPHOME_SENSOR_TIMESTAMP_ENABLED
    select ESPHOME_COMPONENT_SENSOR

config ESPHOME_COMPONENT_BUTTON
	bool

config ESPHOME_COMPONENT_BUTTON_TEMPLATE
	bool "Enable support of template button"
	default y
	depends on DT_HAS_NABUCASA_ESPHOME_BUTTON_TEMPLATE_ENABLED
    select ESPHOME_COMPONENT_BUTTON
