/*
 * Copyright (c) 2026 Alexandre Bailon
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,ieee802154 = &ieee802154;
	};

        esphome {
                compatible = "nabucasa,esphome";
                entity_id = "zeus";
                friendly_name = "Zeus power switch";
                status = "okay";

		api {
			compatible = "nabucasa,esphome-api";
			status = "okay";
		};

		hbridge_switch: switch_0 {
			compatible = "pandora,switch-hbridge";
			component-name = "Bistable relay";
			on-gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
			off-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			wait-time = <1000>;
			status = "okay";
		};

		input_switch: binary_sensor_0 {
			compatible = "pandora,binary-sensor-gpio";
			component-name = "Switch";
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
			status = "okay";
		};

		pipelines {
			input_switch_toggle_hbridge_switch {
				compatible = "pandora,pipeline";
				component-name = "Control relay using switch";
				binary-sensor-on-state = <&input_switch>;
				switch-toggle = <&hbridge_switch>;
			};
		};

		longpress {
			input = <&{/keys}>;
			compatible = "zephyr,input-longpress";
			input-codes = <INPUT_KEY_0>;
			short-codes = <INPUT_KEY_A>;
			long-codes = <INPUT_KEY_X>;
			long-delay-ms = <2000>;
		};

		factory_reset {
			compatible = "pandora,factory-reset";
			input-code = <INPUT_KEY_X>;
		};
        };
};
