# Copyright (c) 2025 Alexandre Bailon
# SPDX-License-Identifier: Apache-2.0
#

config PANDORA_SERVICE
	bool "Pandora service"
	default y if SMF
	depends on SMF && EVENTS
	help
	  Provide a service that manage the different events
	  that could affect Hermes state such network disconnection.

config PANDORA_FACTORY_RESET
	bool "Factory reset component"
	default y
	depends on DT_HAS_PANDORA_FACTORY_RESET_ENABLED && REBOOT && INPUT

module = PANDORA
module-str = Pandora
source "subsys/logging/Kconfig.template.log_config"
